#faq {
  background: url(../images/bg2.png);
  background-size: cover;
  position: relative;
  overflow: hidden;
  padding-top: 100px;
  padding-bottom: 225px;
  text-align: center;
}
@media screen and (max-width: 800px) {
  #faq {
    padding-bottom: 280px;
  }
}
#faq .splitter {
  top: -45px;
}
@media screen and (max-width: 1300px) {
  #faq .splitter {
    top: -35px;
  }
}
@media screen and (max-width: 800px) {
  #faq .splitter {
    top: 5px;
  }
}
#faq .container {
  padding-top: 35px;
}
@media screen and (max-width: 800px) {
  #faq .container {
    padding-top: 100px;
  }
}
#faq .container .faq-block {
  font-size: 22px;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
}
#faq .container .faq-block h4 {
  font-weight: 500;
  margin-bottom: .2rem;
}
#faq .container .faq-block p {
  line-height: 1.2;
}
#faq .container .line {
  width: 200px;
  background: #ffea00;
  border: none;
  height: 2px;
  margin: 40px 0 36px;
  display: inline-block;
}
#faq:before {
  content: ' ';
  width: 100%;
  height: 69%;
  background-color: white;
  position: absolute;
  z-index: 5;
  bottom: -55%;
  left: -30%;
  transform: rotate(7deg);
}
@media screen and (max-width: 600px) {
  #faq:before {
    bottom: -59%;
  }
}
#faq:after {
  content: ' ';
  width: 100%;
  height: 70%;
  background-color: white;
  position: absolute;
  z-index: 5;
  bottom: -55%;
  right: -30%;
  transform: rotate(-7deg);
}
@media screen and (max-width: 600px) {
  #faq:after {
    bottom: -59%;
  }
}
#faq .triangle-top-left {
  width: 100%;
  height: 69%;
  background-color: white;
  position: absolute;
  z-index: 5;
  top: -55%;
  left: -30%;
  transform: rotate(-7deg);
}
@media screen and (max-width: 600px) {
  #faq .triangle-top-left {
    top: -59%;
  }
}
#faq .triangle-top-right {
  width: 100%;
  height: 69%;
  background-color: white;
  position: absolute;
  z-index: 5;
  top: -55%;
  right: -30%;
  transform: rotate(7deg);
}
@media screen and (max-width: 600px) {
  #faq .triangle-top-right {
    top: -59%;
  }
}
