#how {
  position: relative;
  background: #fff;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  padding-bottom: 35px;
  padding-top: 10px;
}
#how .splitter {
  top: -70px;
}
@media screen and (max-width: 1300px) {
  #how .splitter {
    top: -90px;
  }
}
#how .container .cols {
  display: flex;
  align-items: center;
  height: 100%;
  margin-top: 10px;
}
#how .container .cols .column {
  color: #333;
}
#how .container .cols .column p.thumb {
  padding-left: 65px;
  background-repeat: no-repeat;
  background-position: 0 50%;
  margin-bottom: 65px;
  min-height: 45px;
}
#how .container .cols .column p.thumb.letter {
  background-image: url('../images/letter.png');
}
#how .container .cols .column p.thumb.message {
  background-image: url('../images/message.png');
}
#how .container .cols .column p.thumb.people {
  background-image: url('../images/peoples.png');
}
#how .container .cols .column p.thumb.confirm {
  background-image: url('../images/confirm.png');
}
@media screen and (max-width: 1050px) and (min-width: 850px) {
  #how .container .cols .column:first-child p.thumb {
    padding-right: 65px;
  }
}
@media screen and (max-width: 850px) {
  #how .container .cols {
    display: block;
  }
  #how .container .cols .column p.thumb {
    margin-bottom: 50px;
  }
}
#how .container .hint {
  font-size: 12px;
  color: #999;
  text-align: center;
}
