#partners {
  position: relative;
  top: -100px;
}
#partners .splitter {
  top: -45px;
}
@media screen and (max-width: 1300px) {
  #partners .splitter {
    top: -55px;
  }
}
@media screen and (max-width: 800px) {
  #partners .splitter {
    top: -100px;
  }
}
#partners .companies {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding: 20px 0 0;
}
#partners .companies .comp {
  flex-basis: 33%;
  text-align: center;
}
#partners .companies .comp a {
  display: block;
}
#partners .companies .comp:nth-child(1),
#partners .companies .comp:nth-child(2),
#partners .companies .comp:nth-child(3) {
  margin-bottom: 80px;
}
@media screen and (max-width: 768px) {
  #partners .companies .comp {
    flex-basis: 50%;
  }
  #partners .companies .comp:nth-child(4) {
    margin-bottom: 80px;
  }
}
@media screen and (max-width: 500px) {
  #partners .companies .comp {
    flex-basis: 100%;
  }
  #partners .companies .comp:not(:nth-child(6)) {
    margin-bottom: 80px;
  }
}
