#welcome {
  background: url(../images/bg.png) no-repeat;
  background-size: cover;
  padding-bottom: 120px;
  padding-top: 40px;
  position: relative;
  overflow: hidden;
}
#welcome .logo {
  background: #ffea00;
  width: 140px;
  height: 85px;
  font-family: 'Roboto', sans-serif;
  padding: 15px 20px 10px;
  font-weight: 500;
  line-height: 1;
}
#welcome .logo p {
  text-align: center;
  font-size: 1.4rem;
  text-transform: uppercase;
}
#welcome .logo p span {
  font-size: 2.3rem;
}
#welcome .greet {
  width: 70%;
  margin: 60px auto;
  text-align: center;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
}
#welcome .greet h1 {
  font-size: 2.2rem;
  font-weight: 400;
  margin-bottom: 25px;
}
#welcome .greet p {
  font-size: 1rem;
  line-height: 1.2;
}
#welcome:before {
  content: ' ';
  width: 100%;
  height: 69%;
  background-color: white;
  position: absolute;
  z-index: 5;
  bottom: -55%;
  left: -30%;
  transform: rotate(10deg);
}
#welcome:after {
  content: ' ';
  width: 100%;
  height: 70%;
  background-color: white;
  position: absolute;
  z-index: 5;
  bottom: -55%;
  right: -30%;
  transform: rotate(-10deg);
}
@media screen and (max-width: 1050px) {
  #welcome .logo {
    margin: 0 auto;
  }
  #welcome .greet {
    width: 90%;
  }
}
@media screen and (max-width: 900px) {
  #welcome .greet br {
    display: none;
  }
}
@media screen and (max-width: 500px) {
  #welcome:after,
  #welcome:before {
    display: none;
  }
}
