@page-width: 1300px;
@button-width: 300px;
@button-height: 70px;
@button-offset: (-@button-width / 12 ) + 1;
@button2: @button-width / 2;
@button4: @button-width / 12;

@import url('https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a{
    color: #333;
}

.splitter {
    z-index:10;
    width: @button-width;
    height: @button-height;
    background: #ffea00;
    position: relative;
    margin: 10px auto;
    text-transform: uppercase;
    font-size: 26px;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    text-align: center;
    line-height: @button-height;
}
.splitter:before {
    content: "";
    width: 0;
    height: 0;
    position: absolute;
    top: @button-offset;
    left: 0;
    border-left: @button2 solid transparent;
    border-right: @button2 solid transparent;
    border-bottom: @button4 solid #ffea00;
}
.splitter:after {
    content: "";
    width: 0;
    height: 0;
    position: absolute;
    bottom: @button-offset;
    left: 0;
    border-left: @button2 solid transparent;
    border-right: @button2 solid transparent;
    border-top: @button4 solid #ffea00;
}
// section, footer{
//     max-width: @page-width;
//     min-width: 400px;
//     margin:0 auto;
// }
section,
footer{
    width: 100%;
}
.container{
    width: @page-width;
    margin:0 auto;
}
.welcome{
    width:100%;
    height:500px;
    background: url(../images/bg.png) no-repeat;
    background-size: cover;
    .container{
        display: flex;
        flex-direction: column;    
        .logo{
            margin:45px 0 0 55px;
            background: #ffea00;
            width:140px;
            height:85px;
            font-family: 'Roboto', sans-serif;
            font-weight: 700;
            padding-top:5px;
            p{
                text-align: center;
                line-height: 33px;
                font-size: 23px;
                text-transform: uppercase;
                span{

                    font-size: 38px;
                }
            }
        }
        .greet{
            width: 60%;
            margin:60px auto;
            text-align: center;
            1align-self: center;
            font-family: 'Roboto', sans-serif;
            font-weight: 400;
            .greet-text{
                font-size: 34px;
                font-weight: 500;
                margin-bottom: 25px;
            }
            .greet-descr{
                font-size: 16px;
            }
        }
    }
}
.how{
    position: relative;
    background: #fff;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    height: 470px;
    .show{
        top: -(@button-height - 10);
    }
    .sfaq{
        bottom: -(@button-height+10);
    }
    .container{
        display: flex;
        flex-direction: column;
        
        .cols{
            display: flex;
            //justify-content: space-between;
            align-items: center;
            height: 100%;
            margin-top: 15px;
            .column{
                width: 40%;
                color: #333;
                &.c-left{
                    margin-left: 90px;
                }
                &.c-right{
                    margin-left: 65px;
                }
                p{
                    &.thumb{
                        padding-left: 65px;
                        background-repeat: no-repeat;
                        background-position: 0 50%;
                        margin-bottom: 65px;
                    } 
                    &.letter{
                        background-image: url('../images/letter.png');
                    }
                    &.message{
                        background-image: url('../images/message.png');
                    }
                    &.people{
                        background-image: url('../images/peoples.png');
                    }
                    &.confirm{
                        background-image: url('../images/confirm.png');
                    }
                }
            }
        }
        .hint{
            font-size: 13px;
            color: #999;
            font-weight: 100;
            text-align: center;
            margin-top: 5px;
        }
    }
}
.triangle{
    display: block;
    width:0;
    height:0;
    position: absolute;
    z-index: 5;
} 
.top-left,
.top-right{
    top:-85px;
    border-bottom: 85px solid #fff;
}
.top-left{
    left:0;
    border-right: @page-width / 2 solid transparent;
}
.top-right{
    right:0;
    border-left: @page-width / 2 solid transparent;
}
.bottom-left,
.bottom-right{
    bottom: -85px;
    border-top: 85px solid #fff;
}
.bottom-left{
    left:0;
    border-right: @page-width / 2 solid transparent;  
}
.bottom-right{
    right:0;
    border-left: @page-width / 2 solid transparent;
}
.faq{
    height: 780px;
    background: url(../images/bg2.png);
    background-size: cover;
    position: relative;
    .container{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        padding: 140px 0;
        .faq-block{
            text-align: center;
            width: 75%;
            font-size: 22px;
            font-family: 'Roboto', sans-serif;
            font-weight: 300;
            margin: auto;
            .faq-quest{
                font-weight: 500;
            }
        }
        hr{
            width:200px;
            color: #ffea00;
            background: #ffea00;
            border: none;
            height: 2px;
            display: flex-inline;
        }
    }
}
.partners{
    position: relative;
    height: 400px;   
    .spartners{
        top: -@button-height;
    }
    .company{
        margin-top: 25px;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-around;
        .comp{
            margin: 25px 0;
            flex: 0 1 30%;
            text-align: center;
            aborder:1px solid red;
        }
    }
}
footer{
    background: #ffea00;
    height: 75px;
    text-align: center;
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
    p{
        display: table;
        width: 400px;
        margin: 20px auto;
        line-height: 75px;
    }
    a,
    span{
        display: table-cell;
        vertical-align: middle;
        aborder: 1px solid red;
        padding:0;
    }
    a{
        font-size: 36px;
        &:hover{
            color: #888;
        }
    }
}